node_modules
yarn-error.log
.eslintrc
.npmrc
*.config.js
*.spec.js
HELP.md
HINTS.md
LICENSE
package.json
config.json
metadata.json
*.gradle
*Test.java
HELP.md
.idea/*
bin/*
build/*
gradle/*
gradlew
gradlew.bat
