node_modules
yarn-error.log
.eslintrc
.npmrc
*.config.js
*.spec.js
HELP.md
HINTS.md
LICENSE
package.json
config.json
metadata.json
*.gradle
*Test.java
HELP.md
*.xml
*.iml
*.properties

.idea/
bin/
build/
gradle/
gradlew
gradlew.bat
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

elixir/*/test/*
*.formatter.exs
mix.exs